snippet with "with" b
with ${1:expr}`!p snip.rv = " as " if t[2] else ""`${2:f}:
	${3:${VISUAL:pass}}
$0
endsnippet

snippet #! "shebang" b
#!/usr/bin/env python$0
endsnippet

snippet main "main" b
if __name__ == '__main__':
    $0
endsnippet

snippet fi "from-import" b
from ${1:module} import ${2:thing}
$0
endsnippet

snippet cl "class" b
class ${1:name}:
    def __init__(self$2):
	$0
endsnippet
